.bg-image {
  position: relative;
  background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)), url('./images/frontpage.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.text-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.header-title {
  text-transform: uppercase;
  letter-spacing: 16px;
  color: #38e20e;
  font-size: 80px;
  margin-bottom: 32px;

}

.search-box{
  padding-top: 100px  !important ;
  padding-bottom: 20px  !important ;
}

.search-heading{
  font-size: 30px;
  margin-bottom: 16px;
}
.detailsPageContent {
    padding-top:100px !important;
  
  
}



.recipe-body{
  background-color: #e1b2cf !important;
}
.head{
  background-color: white !important;
}

.card-body{
  background-color: rgba(255, 255, 255, 0.479) !important;
  border: none !important;
}